.theme .sidebar {
  background-color : #66cdaa
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

ul {
  list-style: none;
}

.sidebarnav {
  margin-top: 5em;
}
.date {
  font-size: 15;
  color: #808080;
}

@media (min-width: 64em) {
    .content {
        margin-left: 22rem;
        margin-right: 4rem;
    }
}

@media (min-width: 48em) {
    .content {
        max-width: 38rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contents-p {
  margin-top: 10em;
}
